

body{
    background-color: white;
    color: gray;
    }
    
     #input-search {
    display: inline-block;
    width: 900px;
    vertical-align: middle;
    }

    #btn-search {
        color: rgb(255, 124, 124) ;
        background-color: transparent;
        background-image: none;
        border-color:rgb(255, 124, 124) ;
    }
    
  
    #btn-search:hover {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
    }
    
    .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
    }
    
    .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
    }
    
    .btn-outline-danger::after {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
    }
    
    h1{
    font-size: 1.5em; 
    }
    
    .topic h1 span{
    color : rgb(255, 124, 124);
    }

    .product-box{
        align-items: center;
        
        background-color: #FFF;
        border: 1px solid;
        border-color: #D6D6D6;
        
    }

    a:link{
        text-decoration: none;
    }
    
    #product-pic{
        padding: 9px;
    }
    #productname{
        font-size: 16px;
        color: darkgrey;
        margin: 10px;
        margin-right: 10px;
        text-align: right;
        font-style: inherit;
    }
    #price{
        font-size: 16px;
        color: #FF735D;
        margin: -8px;
        margin-right: 10px;
        text-align: right;
        font-style: normal;
    }
    .text-home{
        margin-top: 20px;
    }
    .line{
        margin-top: -30px; 
        color: darkgray;
    }

    #product-name-link:hover{
        text-decoration: none;
       }
