body{
    background-color: white;
    color: gray;
 }

.form-inline .form-control {
    display: inline-block;
    width: 900px;
    vertical-align: middle;
}

.btn-outline-danger {
    color : rgb(255, 124, 124) ;
    background-color: transparent;
    background-image: none;
    border-color: rgb(255, 124, 124) ;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color:  rgb(255, 124, 124);
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
}

.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
}

.btn-outline-danger::after {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
}

h2{
    font-size: 1em; 
}

.topic a span{
    color : rgb(255, 124, 124);
}

.form-control {
    width: 400px;
}

.detail{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
 .detail img{
    margin: 30px;
}

.detail .col-2 img{
    opacity: 0.5;
}

 .detail h2{
    font-size: 1em;
    margin: 30px;
}

.detail .price{
    color : rgb(255, 124, 124);
}

.bg-dark {
    background-color: rgb(255, 124, 124)!important;
}

.qty .count {
    color: gray;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}

.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

.delivery .col{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 16px;
}

.row img{
    margin: 30px;
}

.payment .col{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 16px;
}

.card img{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.card{
    padding-bottom: 15px;
}

.summary span{
    float: right;
    color : rgb(255, 124, 124);
}
