<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/shopping.css}"/>

    <title>SHOBSHOP</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand ml-5" href="#"><img th:src="@{/img/shobshop.png}" alt="shobshop" width="60px" height="60px"></a>   

    </nav>

    <div class="container">

        <div class="topic mt-5">
            <div class="row">
                <div class="col">
                    <a style="font-size: 20px">หน้าแรก > <span>สั่งซื้อสินค้า</span></a>
                    <hr>
                </div>
            </div>
        </div>

    <form th:action="@{/testsave}" method ="GET">
        <div class="name-and-address mt-3">
            <div class="row">
                <div class="col">
                    
                        <div class="row">
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="name">ชื่อ</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="firstname" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="name">นามสกุล</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="lastname" required>
                                </div>
                            </div>
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="address">บ้านเลขที่</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="homeNo" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="address">ซอย</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="alley" required>
                                </div>
                            </div>
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="address">ถนน</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="road" required> 
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="address">เขต</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="district" required>
                                </div>
                            </div>
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="address">แขวง</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="subDistrict" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="address">จังหวัด</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="city" required>
                                </div>
                            </div>
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="address">รหัสไปรษณีย์</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="postCode" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="address">ประเทศ</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="country" required>
                                </div>
                            </div>
                            <div class="col-7 ml-4">
                                <div class="form-group">
                                    <label for="address">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="phonenumber" required>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="address">E-mail</label>
                                    <input type="text" class="form-control" id="formGroupName" placeholder="" name="email" required>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>

        <div class="detail mt-4">
            <div class="row">
                <div class="col-4">
                    <img th:src="@{'/img/'+productPicture}" alt="รูปสินค้า" width="200px" height="200px" id="productImage">
                </div>
                <div class="col-6">
                    <h2 id="productName" th:text="${product.productName}">ชุดเดรสยาวสีขาว</h2>
                    <h2 id="shopName">โดย dressdressShop</h2>
                    <h2 class="price" id="price" th:text="${product.productPrice}+' THB'">20,000 THB</h2>
                </div>
               <div class="col-2">
                   <div class="row">
                        <img th:src="@{/img/delete.png}" alt="ลบสินค้า" width="20px" height="20px">
                   </div>
                   <div class="row mt-5 d-flex align-items-end">
                        <div class="qty">
                            <!-- <span class="minus bg-dark">-</span> -->
                            
                            <div class="form-inline">
                                <div class="row mr-5">
                                    <span class="mr-2 mt-2">จำนวน</span>
                                    <input class="form-control" type="number" name="quantity" required >
                                    <span class="ml-2 mt-2">ชิ้น</span>
                                </div>
                            </div>
                            <!-- <span class="plus bg-dark">+</span> -->
                        </div>
                   </div>
                </div>
            </div>
        </div>

        <div class="delivery mt-4 mb-5">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="typeOfShipping" value="1">
                            <div class="row">
                                <div class="col-6">
                                    <img th:src="@{/img/cargo-truck.png}" alt="จัดส่ง" width="100px" height="100px">
                                </div>
                                <div class="col-6 d-flex align-items-center">
                                    <h2>ThaiPost - EMS <br> 50 THB / 3-4 วัน</h2>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col mr-3">
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="typeOfShipping" value="2">
                                <div class="row">
                                    <div class="col-6">
                                        <img th:src="@{/img/cargo-truck.png}" alt="จัดส่ง" width="100px" height="100px">
                                    </div>
                                    <div class="col-6 d-flex align-items-center">
                                        <h2>Kerry <br> 50 THB / 3-4 วัน</h2>
                                    </div>
                                </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2 class="mt-5">วิธีการชำระเงิน</h2>
        <div class="detail mt-4 mb-4">
            <div class="row">
                <div class="col-2">
                    <img th:src="@{/img/credit-card.png}" alt="cardImage" width="100px" height="100px">
                </div>
                <div class="col-10 d-flex align-items-center">
                    <h2>บัตรเดบิต/เครดิต</h2>
                </div>
            </div>
        </div>

        <h2>บัตรเดบิต/เครดิตของฉัน</h2>
        <div class="card mt-4 mb-5">
            <div class="row">
                <div class="col-2">
                    <img th:src="@{/img/visa.png}" alt="visa" width="90px" height="60px">
                </div>
                <div class="col-8 d-flex align-items-center">
                    <div class="row">
                        <div class="col-12">
                            <h2 id="nameCard">น.ส. สินีนาฏ จั่นxxxx</h2>
                            <h2 id="numberCard">4732-52xx-xxxx-xxxx</h2>
                        </div>
                    </div>
                </div>
                <div class="col-2 d-flex align-items-center">
                   <div class="delete-card">
                        <button class="btn btn-outline-danger" type="button" name="deleteCard">ลบบัตร</button> 
                   </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="summary">
            <div class="row">
                <div class="col-4">

                </div>
                <div class="col-4">

                </div>
                <div class="col-4">
                    <h2>รวมการสั่งซื้อ <span id="totalPrice">69,790 THB</span></h2> 
                    <h2>จัดส่ง <span id="sumDelivery">300 THB</span></h2> 
                    <hr>
                    <h2>รวม <span id="sumPriceAndDelivery">70,090 THB</span></h2> 
                    <input type="hidden" value="20000" name="totalPrice">
                    <button class="btn btn-outline-danger mt-5 mb-5" type="submit" style="float:right">สั่งซื้อสินค้า</button> 
                </div>
            </div>
        </div>
    </form>

        

    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- <script>
        $(document).ready(function(){
            $('.count').prop('disabled', true);
            $(document).on('click','.plus',function(){
                $('.count').val(parseInt($('.count').val()) + 1 );
            });
            $(document).on('click','.minus',function(){
                $('.count').val(parseInt($('.count').val()) - 1 );
                    if ($('.count').val() == 0) {
                        $('.count').val(1);
                    }
                });
        });
    </script> -->
  </body>
</html>