body{
    background-color: white;
    color: gray;
 }

.form-inline .form-control {
    display: inline-block;
    width: 900px;
    vertical-align: middle;
}

.btn-outline-danger {
    color : #fff ;
    background-color: rgb(255, 124, 124);
    background-image: none;
    border-color: rgb(255, 124, 124) ;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color:  rgb(255, 124, 124);
}

.btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
    color: rgb(255, 124, 124);
    background-color: #fff;
    border-color: rgb(255, 124, 124);
}

.btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
}

.btn-outline-danger::after {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
}

h2{
    font-size: 1em; 
}

.topic a span{
    color : rgb(255, 124, 124);
}

.form-control {
    width: 400px;
}

.detail{
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
 .detail img{
    margin: 30px;
}

.detail .col-2 img{
    opacity: 0.5;
}

 .detail h2{
    font-size: 1em;
    margin: 30px;
}

.detail .price{
    color : rgb(255, 124, 124);
}

.bg-dark {
    background-color: rgb(255, 124, 124)!important;
}

.qty .form-control{
    width: 60px;
    text-align: center;
}

.form-check .form-check-input {
    position: absolute;
    margin-top: 4.5rem;
    margin-left: -1rem;
    width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}

.delivery .col{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 16px;
}

.row img{
    margin: 30px;
}

.payment .col{
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: 16px;
}

.card img{
    border: 1px solid ##f1f1f1;
    border-radius: .25rem;
}

.card{
    padding-bottom: 15px;
}

.summary span{
    float: right;
    color : rgb(255, 124, 124);
}

.creditCard-popUp {
    display: none;
    position: fixed;
    bottom: 180px;
    right: 520px;
    z-index: 9;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}

.checkout-form{
    margin: 20px;
}

.creditCard-popUp .form {
    width: 50px;
    margin-left: 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    text-align: center;
}


.success-popUp {
    display: none;
    position: fixed;
    bottom: 550px;
    right: 620px;
    z-index: 9;
    border: 1px solid #f1f1f1;
    border-radius: 0.5rem;
    background-color: #f1f1f1;
}

.success-popUp .form {
    width: 50px;
    margin-left: 18px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    text-align: center;
}

.success-popUp .row{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


