<html xmlns:th = "https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ShobShop - Home</title>


    </head>

    <body>
        <div class="product-main-box">
            <div class="row">
                <div class="col-2" th:each="product : ${allProducts}">
                    <div class="product-box" style="width: 160px ; height: 250px; background-color: pink;" >
                        <p id="productname" th:text="${product.productName}">productname</p></a>
                        <p id="price" th:text="${product.productPrice} + ' THB'"><b>ราคา THB</b></p> 
                    </div>
                </div>    
            </div>
        </div>


        <!-- <div th:each="product : ${allProducts}">
           <p th:text="${'Product :' + product.productName}">
       </div> -->


    </body>

</html>