
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link th:href="@{/css/productDetail.css}" type="text/css" rel="stylesheet">


    <title>SHOBSHOP</title>
</head>

<body>

    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand ml-5" href="#">
            <img th:src="@{/img/shobshop.png}" alt="shobshop" width="60px" height="60px">
        </a>
        <div class="container">
            <form class="form-inline">
                <input class="form-control mr-4" type="search" placeholder="ค้นหาสินค้าหรือร้านค้า" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">ค้นหา</button>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="topic mt-3">
            <div class="row">
                <div class="col">
                    <a style="font-size: 20px">หน้าแรก > เสื้อผ้าแฟชั่นผู้หญิง > <span th:text="${productDetail.productName}">productName</span></a>
                    <hr>
                </div>
            </div>
        </div>


        <div class="detail">
            <div class="row">
                <div class="col">

                    <div class="thumbnail">
                        <img src="/img/2.png" alt="vatanika" width="500px" height="500px">
                    </div>

                </div>
                <div class="col" id="blockDetail">

                    <h1 th:text="${productDetail.productName}"></h1>
                    <h1 style="margin-top: 15px"><span th:text="${productDetail.productPrice} + ' THB'">price</span></h1>
                    <p class="p1">โดย <span class="c1" th:text="${productDetail.shopId}">Shop</span></p>
                    <br>
                    <p style="margin-bottom: 10px" th:text="${productDetail.productDetail}">detail</p>

                    <br>

                    <button class="buyProduct" type="submit">ซื้อสินค้า</button>


                </div>


            </div>
        </div>
    </div>










    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


</body>

</html>

