<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/summary.css}" />

    <title>SHOBSHOP</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand ml-5" href="index.html"
        ><img
          th:src="@{/img/shobshop.png}"
          alt="shobshop"
          width="60px"
          height="60px"
      /></a>
      <div class="container">
        <!--
          <form class="form-inline">
            <input
              class="form-control mr-4"
              type="search"
              placeholder="ค้นหาสินค้าหรือร้านค้า"
              aria-label="Search"
            />
            <button class="btn btn-outline-danger" type="submit">ค้นหา</button>
          </form>
        -->
      </div>
    </nav>

    <div class="container">
      <div class="topic mt-5">
        <div class="row">
          <div class="col">
            <a href="index.html">หน้าแรก ></a>
            <a href="ProductDetail.html"> สั่งซื้อสินค้า ></a
            ><span> สรุปการสั่งซื้อ</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="detail">
        <div class="row">
          <div class="col-3">
            <img
              th:src="${product.productURL}"
              alt="productPicture"
              width="200px"
              height="230px"
            />
          </div>

          <div class="col">
            <br />
            <h4 th:text="${product.productName}"></h4>
            <p class="by">โดย dressdressShop</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <p
              class="quantity"
              th:text="'จำนวน     '+${orderDetail.quantity}+'     ชิ้น'"
            >
              <span
                class="price"
                th:text="${product.productPrice} + ' THB'"
              ></span>
            </p>
          </div>
        </div>
      </div>
      <br />

      <!-- <div class="headBuyer">
        <img
          th:src="@{/img/user.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;ข้อมูลผู้รับ<br /><br />
      </div>
      <div class="information1">
        <div class="buyer">
          <p th:text="${user.firstname}+' '+${user.lastname}"></p>
        </div>
      </div>
      <br />
      <div class="headShipping">
        <img
          th:src="@{/img/cargo-truck.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;ข้อมูลการจัดส่ง<br /><br />
      </div>
      <div class="information2">
        <div class="shipping">
          <p th:text="'จัดส่งแบบ'+' '+' '+${order.typeOfShipping}"></p>
          ชื่อร้านค้า<br />
          เลขที่การจัดส่ง<br />
        </div>
      </div>
      <br /> --> 

      <!-- <div class="headDetail">
        <img
          th:src="@{/img/detail.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;รายละเอียดการสั่งซื้อ<br /><br />
      </div>
      <div class="information3">
        <div class="detail">
          <p>
            หมายเลขการสั่งซื้อ<br />
            วันที่สั่ง<br />
          </p>
        </div>
      </div>
      <br /> -->

      <div class="headDetail">
        <img
          th:src="@{/img/detail.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;รายละเอียดการสั่งซื้อ<br /><br />
      </div>
      <div class="information3">
        <div class="detail">
            <p th:text="'ชื่อผู้สั่งซื้อ :'+' '+' '+${user.firstname}+' '+${user.lastname}"></p>
            <p th:text="'E-mail :'+' '+${user.email}"></p>
            <p th:text="'Tel :'+' '+${user.phonenumber}"></p>
            <p th:text="'ที่อยู่ : '+'บ้านเลขที่ '+'ซอย '+${address.alley}+' ถนน '+${address.road}
            +' '+${address.district}+' แขวง '+${address.city}+' รหัส '+${address.country}"></p>
            <p th:text="'วันที่สั่งซื้อ : '+${order.date}"></p>
            <p th:text="'รูปแบบการจัดส่ง : '+${order.typeOfShipping}"></p>
            <p th:text="'ค่าการจัดส่ง : 50 บาท'"></p>
            <p th:text="'ราคาสินค้า : '+${product.productPrice}"></p>
            <!-- <p th:text="'ราคารวม :'+${order.totalPrice}+${50}"></p> -->
            <p th:text="'วิธีการชำระเงิน : บัตรเครดิต/เดบิต'"></p>
          </div>
          
        </div>
      </div>
      <br />

      <!-- รายละเอียดการชำระเงิน -->
      <!-- <div class="headPayment">
        <img
          th:src="@{/img/credit-card.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;รายละเอียดการชำระเงิน<br /><br />
      </div>
      <div class="information4">
        <div class="payment">
          <p>
            รวมราคาสินค้า <br />
            ค่าจัดส่ง <br />
            ช่องทางการชำระเงิน <br />
            สรุปราคาการสั่งซื้อ<br />
          </p>
        </div>
      </div>
    </div> -->
    <br />
    <center>
      <a href="index.html"
        ><button class="home" type="submit">กลับสู่หน้าหลัก</button></a
      >
    </center>
    <br />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
