<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/summary.css}" />

    <title>SHOBSHOP</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand ml-5" href="index.html"
        ><img
          th:src="@{/img/shobshop.png}"
          alt="shobshop"
          width="60px"
          height="60px"
      /></a>
    </nav>

    <div class="container">
      <div class="topic mt-5">
        <div class="row">
          <div class="col">
            <a class="home" href="index.html">หน้าแรก </a>>
            <span> สรุปการสั่งซื้อ</span>
            <hr />
          </div>
        </div>
      </div>

      <div class="detail">
        <div class="row">
          <div class="col-3">
            <img
              th:src="${product.productURL}"
              alt="productPicture"
              width="200px"
              height="230px"
            />
          </div>

          <div class="col">
            <br />
            <h4 th:text="${product.productName}"></h4>
            <br />
            <h6 class="by">
              โดย
              <span class="c1" th:text="${product.shopId.shopName}"
                >ShopName</span
              >
            </h6>
            <br />
            <br />
            <br />
            <br />
            <br />
            <span
              class="quan"
              th:text="'จำนวน '+'  '+${orderDetail.quantity}+'  '+' ชิ้น'"
            ></span>
            <span
              class="price"
              th:text="'ราคา '+${product.productPrice}*${orderDetail.quantity} + ' THB'"
            ></span>
          </div>
        </div>
      </div>
      <br />
      <div class="headDetail">
        <img
          th:src="@{/img/detail.png}"
          width="30px"
          height="30px"
        />&nbsp;&nbsp;รายละเอียดการสั่งซื้อ<br /><br />
      </div>
      <div class="information3">
        <div class="detail">
          <p
            th:text="'ชื่อผู้สั่งซื้อ :'+' '+' '+${user.firstname}+' '+${user.lastname}"
          ></p>
          <p th:text="'E-mail :'+' '+${user.email}"></p>
          <p th:text="'Tel :'+' '+${user.phonenumber}"></p>
          <!--
            <p th:text="'ที่อยู่ : '+'บ้านเลขที่ '+${address.homeNo}+' '+'ซอย '+${address.alley}+' ถนน '+${address.road}
            +' แขวง/ตำบล '+${address.district}+' เขต/อำเภอ '+${address.subDistrict}+' จังหวัด '+${address.city}+' '
            +${address.country}+' '+${address.postCode}"></p>
          -->
          <p th:text="'ที่อยู่ : '+'บ้านเลขที่ '+${address.homeNo}+' '+'ซอย '+${address.alley}+' ถนน '+${address.road}"></p>
          <div class="test">
          <p th:text="' แขวง/ตำบล '+${address.district}+' เขต/อำเภอ '+${address.subDistrict}"></p>
          <p th:text="' จังหวัด '+${address.city}+' '+${address.country}+' '+${address.postCode}"></p>
          </div>
          <p th:text="'วันที่สั่งซื้อ : '+${order.date}"></p>
          <p th:text="'รูปแบบการจัดส่ง : '+${shipping.typeOfShippingId.typeOfShippingName}"></p>
          <p th:text="'ค่าการจัดส่ง : '+${shippingPrice}+' บาท'"></p>
          <p th:text="'ราคาสินค้า : '+${product.productPrice}*${orderDetail.quantity}"></p>
          <p th:text="'รวมทั้งสื้น : '+${order.totalPrice}"></p>
          <p th:text="'วิธีการชำระเงิน : บัตรเครดิต/เดบิต'"></p>
        </div>
      </div>
    </div>
    <br />

    <br />
    <center>
      <a href="index.html"
        ><button class="backhome" type="submit">กลับสู่หน้าหลัก</button></a
      >
    </center>
    <br />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
