<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>Example Checkout Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            .checkout-form {
                max-width: 300px;
                margin-top: 40px;
            }
        </style>
    </head>
    <body>

        <div class="container">

            <!--
            NOTE: Using `data-name` to prevent sending credit card information fields to the backend server via HTTP Post
            (according to the security best practice https://www.omise.co/security-best-practices#never-send-card-data-through-your-servers).
            -->
            <form id="checkout-form" class="checkout-form" th:action="@{/testOmiseInProgress}" method="GET">
                <div class="form-group">
                    <label>Card Number</label>
                    <input type="text" data-name="cardNumber" class="form-control" placeholder="••••••••••••••••" />
                </div>

                <div class="form-group">
                    <label>Name on card</label>
                    <input type="text" data-name="nameOnCard" class="form-control" placeholder="Full Name" />
                </div>

                <div class="form-group">
                    <label>Expiry date</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <select class="form-control" data-name="expiryMonth">
                                <option value="">MM</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control" data-name="expiryYear">
                                <option value="">YYYY</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Security code</label>
                    <input type="text" data-name="securityCode" class="form-control" placeholder="123" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Checkout</button>
                </div>

                <input type="hidden" name="omiseToken" />
            </form>
        </div>


        <script src="https://cdn.omise.co/omise.js.gz"></script>
        <script>
            (function () {
                'use strict';
                Omise.setPublicKey('pkey_test_5dxu0b1vxc7ui06csew');
                var checkoutForm = document.getElementById('checkout-form')
                checkoutForm.addEventListener('submit', submitHandler, false);
                // Submit handler for checkout form.
                function submitHandler(event) {
                    event.preventDefault();

                    /*
                     NOTE: Using `data-name` to prevent sending credit card information fields to the backend server via HTTP Post
                     (according to the security best practice https://www.omise.co/security-best-practices#never-send-card-data-through-your-servers).
                     */
                    var cardInformation = {
                        name: document.querySelector('[data-name="nameOnCard"]').value,
                        number: document.querySelector('[data-name="cardNumber"]').value,
                        expiration_month: document.querySelector('[data-name="expiryMonth"]').value,
                        expiration_year: document.querySelector('[data-name="expiryYear"]').value,
                        security_code: document.querySelector('[data-name="securityCode"]').value
                    };

                    Omise.createToken('card', cardInformation, function (statusCode, response) {
                        if (statusCode === 200) {
                            // Success: send back the TOKEN_ID to your server. The TOKEN_ID can be
                            // found in `response.id`.
                            checkoutForm.omiseToken.value = response.id;

                            checkoutForm.submit();
                        } else {
                            // Error: display an error message. Note that `response.message` contains
                            // a preformatted error message. Also note that `response.code` will be
                            // "invalid_card" in case of validation error on the card.
                        }
                    });
                }

            })();
        </script>
    </body>
</html>