body {
    background-color: white;
    color: gray;
  }
  
  .form-inline .form-control {
    display: inline-block;
    width: 900px;
    vertical-align: middle;
  }
  
  .btn-outline-danger {
    color: rgb(255, 124, 124);
    background-color: transparent;
    background-image: none;
    border-color: rgb(255, 124, 124);
  }
  
  .btn-outline-danger:hover {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
  }
  
  .btn-outline-danger:not(:disabled):not(.disabled):active,
  .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: rgb(255, 124, 124);
    border-color: rgb(255, 124, 124);
  }
  
  .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
  }
  
  .btn-outline-danger::after {
    box-shadow: 0 0 0 0.2rem rgb(255, 195, 195);
  }
  
  a {
    font-size: 20px;
  }
  
  /* unvisited link */
  a:link {
    color: gray;
  }
  
  /* visited link */
  a:visited {
    color: gray;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(255, 124, 124);
  }
  
  /* selected link */
  a:active {
    color: gray;
  }
  
  .topic span {
    font-size: 20px;
    color: rgb(255, 124, 124);
  }
  